<div class="page-header header-filter clear-filter" data-parallax="true"
	style="background-image: url('{% if page.header_image %}{{ page.header_image }}{% else %}/img/backgrounds/Participants_CyberStorm_2015.jpg{% endif %}'); transform: translate3d(0px, 0px, 0px);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<div class="brand">
					<h1 style="font-family: Pirulen,Roboto,Helvetica,serif;">{% if page.title %}{{ page.title }}{% else %}Swiss Hacking Challenge{% endif %}</h1>
					<!--  <img src="/img/logo_white_924x285.png" border="0" width="100%">   -->
				</div>
			</div>
		</div>
	</div>
</div>