@font-face {
  font-family: 'Pirulen';
  src: url('/fonts/pirulen.eot'); /* IE9 Compat Modes */
  src: url('/fonts/pirulen.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pirulen.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pirulen.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pirulen.svg#Pirulen') format('svg'); /* Legacy iOS */
}

// lang switch

ul.lang-switch {
    float: left;
    margin: 0;
    padding: 0;
    padding: .625rem 0;
    height: 50px;
}

ul.lang-switch li {
    float: left;
    list-style: none;
    .selected {
       background-color: #7070f4;
       color: #fff;
    }
}

ul.lang-switch li a {
    padding: 0 9px;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 14px;
    color: #a1a8aa;
}

ul.lang-switch li a:hover {
    background-color: #c9cdce;
    text-decoration: none;
    color: #fff;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
}