---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body class="presentation-page">
    {% include navigation.html %}
    {% include header.html %}
    <div id="main" class="main main-raised">
      <div class="section secton-basic">
        <div class="container">
   		  {{ content }}
   		</div>
      </div> 
   </div>

   {% include footer.html %}

  
    <script type="text/javascript" src='{{ "/js/jquery.min.js"  | prepend: site.baseurl }}'></script>
    <script type="text/javascript" src='{{ "/js/popper.min.js"  | prepend: site.baseurl }}'></script>
    <script type="text/javascript" src='{{ "/js/bootstrap-material-design.js"  | prepend: site.baseurl }}'></script>
    
    
    <script type="text/javascript" src='{{ "/js/d3.v3.min.js"  | prepend: site.baseurl }}'></script>
    <script type="text/javascript" src='{{ "/js/timeLineD3.js"  | prepend: site.baseurl }}'></script>
	
	 
	<script type="text/javascript" src='{{ "/js/scripts.js"  | prepend: site.baseurl }}'></script>
   	<script type="text/javascript">
    	TimeKnots.draw("#timeline1", hackingCalendar, {dateFormat: "%B %Y", color: "#696", width:"600", showLabels: true, labelFormat: "%Y-%m-%d"});
	</script>
</body>
</html>
